{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">

    <div class="container">
        <div class="row">
            <aside class="col-md-3">
                <!--   SIDEBAR   -->
                <ul class="list-group">
                    <a class="list-group-item active bg-primary text-white" href="#"> My order history </a>
                    <a class="list-group-item bg-info text-dark" href="#"> Transactions </a>
                    <a class="list-group-item bg-warning text-dark" href="#"> Return and refunds </a>
                    <a class="list-group-item bg-success text-white" href="#"> Settings </a>
                    <a class="list-group-item bg-secondary text-white" href="#"> My Selling Items </a>
                </ul>
                <br>
                <a class="btn btn-danger btn-block" href="#"> <i class="fa fa-power-off"></i> <span class="text">Log out</span> </a> 
                <!--   SIDEBAR .//END   -->
            </aside>

            <main class="col-md-9">
                {% if order_details %}
                    {% for detail in order_details %}
                    <article class="card mb-4">
                        <header class="card-header bg-dark text-white">
                            <strong class="d-inline-block mr-3"> Order Number: {{ detail.order.order_number }}</strong>
                            <span>Order Date: {{ detail.order.created_at|date:"d F Y H:i" }}</span>
                        </header>
                        <div class="card-body">
                            <div class="row"> 
                                <div class="col-md-8">
                                    <h6 class="text-muted">Delivery to</h6>
                                    {% if messages %}
                                    <div id="message" class="btn btn-success btn-block">
                                        {% for message in messages %}
                                            <div class="alert alert-info">{{ message }}</div>
                                        {% endfor %}
                                    </div>
                                    {% endif %}
                                    <script>
                                        window.onload = function() {
                                            setTimeout(function() {
                                                var messageDiv = document.getElementById('message');
                                                if (messageDiv) {
                                                    messageDiv.style.display = 'none'; // Hide the message after 4 seconds
                                                }
                                            }, 4000); // 4000 milliseconds = 4 seconds
                                        };
                                    </script>

                                    <p>
                                        Name: {{ detail.order.first_name }} {{ detail.order.last_name }}<br>  
                                        Phone: {{ detail.order.phone }} <br>
                                        Email: {{ detail.order.email }} <br>
                                        Address: {{ detail.order.address_line_1 }}<br> 
                                        Country: {{ detail.order.country }} <br> 
                                        State: {{ detail.order.state }} <br> 
                                        City: {{ detail.order.city }} <br> 
                                    </p>
                                </div>

                                <div class="col-md-4">
                                    <h6 class="text-muted">Payment</h6>
                                    <span class="text-success">
                                        {% if detail.order.cash_on_delivery %}
                                            <strong>Cash on Delivery</strong>
                                        {% else %}
                                            {% if detail.order.payment_method == 'visa' %}
                                                <i class="fab fa-lg fa-cc-visa"></i>
                                                {{ detail.order.payment_method|title }} **** {{ detail.order.card_last_digits }}
                                            {% elif detail.order.payment_method == 'mastercard' %}
                                                <i class="fab fa-lg fa-cc-mastercard"></i>
                                                {{ detail.order.payment_method|title }} **** {{ detail.order.card_last_digits }}
                                            {% elif detail.order.payment_method == 'paypal' %}
                                                <i class="fab fa-lg fa-cc-paypal"></i>
                                                {{ detail.order.payment_method|title }} **** {{ detail.order.card_last_digits }}
                                            {% else %}
                                                <strong>Other Payment Method</strong> ({{ detail.order.payment_method }})
                                            {% endif %}
                                        {% endif %}
                                    </span>
                                    
                                    <p>
                                        Subtotal: <span class="text-primary">${{ detail.order.order_total|floatformat:0 }}</span> <br>
                                        Shipping Fee: <span class="text-secondary">${{ detail.order.shipping_fee|floatformat:0 }}</span> <br> 
                                        <span class="font-weight-bold text-danger">Total: ${{ detail.order.order_total|floatformat:0 }}</span>
                                        <h5>
                                            <span class="font-weight-bold text-warning">Status: {{ detail.order.status }}</span>
                                            <a href="{% url 'generate_invoice' detail.order.id %}" class="btn btn-success bg-light text-info">Invoice</a>
                                        </h5>
                                    </p>
                                </div>
                            </div> <!-- row.// -->

                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th>Product</th>
                                            <th>Title</th>
                                            <th>Seller</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for order_product in detail.order_products %}
                                        <tr>
                                            <td width="65">
                                                <a href="{{ order_product.product.get_url }}">
                                                    <img src="{{ order_product.product.images.url }}" class="img-xs border">
                                                </a>
                                            </td>
                                            <td>
                                                <a href="{{ order_product.product.get_url }}">
                                                    <p class="title mb-0">{{ order_product.product.title }}</p>
                                                    <var class="price text-muted">USD {{ order_product.product.discount_amount }}</var>
                                                </a>
                                            </td>
                                            <td class="text-info">Admin <br> </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div> <!-- table-responsive .end// -->
                        </div> <!-- card-body .// -->
                    </article> <!-- order-group.// --> 
                    {% endfor %}
                {% else %}
                    <p>No orders found.</p>
                {% endif %}
            </main>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}