{% extends 'base2.html' %}
{% load static %}
{% block content %}
    <!-- ========================= SECTION CONTENT ========================= -->
 <section class="section-content padding-y">

    <!-- ============================ COMPONENT REGISTER   ================================= -->
        <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
          <article class="card-body">
            <header class="mb-4"><h4 class="card-title">Sign up</h4></header>
            {% if messages %}
                <div id="message" class="message-container text-light bg-primary">
                    {% for message in messages %}
                        <div class="alert">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
            <script>
                window.onload = function() {
                    setTimeout(function() {
                        var messageDiv = document.getElementById('message');
                        if (messageDiv) {
                            messageDiv.style.display = 'none'; // Hide the message after 4 seconds
                        }
                    }, 4000); // 4000 milliseconds = 4 seconds
                };
            </script>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                
                <!-- Display error messages -->
                {% if forms.errors %}
                    <div class="alert alert-danger">
                        <ul>
                            {% for field, errors in forms.errors.items %}
                                {% for error in errors %}
                                    <li>{{ field|capfirst }}: {{ error }}</li>
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            
                <div class="form-row">
                    <div class="col form-group">
                        <label for="id_first_name">First name</label>
                        <input type="text" name="first_name" id="id_first_name" class="form-control" value="{{ forms.first_name.value|default_if_none:'' }}" required>
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                        <label for="id_last_name">Last name</label>
                        <input type="text" name="last_name" id="id_last_name" class="form-control" value="{{ forms.last_name.value|default_if_none:'' }}" required>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_email">Email</label>
                        <input type="email" name="email" id="id_email" class="form-control" value="{{ forms.email.value|default_if_none:'' }}" required>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_phone_number">Phone Number</label>
                        <input type="text" name="phone_number" id="id_phone_number" class="form-control" value="{{ forms.phone_number.value|default_if_none:'' }}" required>
                    </div> <!-- form-group end.// -->
                </div> <!-- form-row end.// -->
            
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="id_password">Create password</label>
                        <input type="password" name="password" id="id_password" class="form-control" required>
                    </div> <!-- form-group end.// --> 
                    <div class="form-group col-md-6">
                        <label for="id_confirm_password">Repeat password</label>
                        <input type="password" name="confirm_password" id="id_confirm_password" class="form-control" required>
                    </div> <!-- form-group end.// -->  
                </div> <!-- form-row end.// -->
            
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Register </button>
                </div> <!-- form-group end.// -->
            </form>
            </article><!-- card-body.// -->
        </div> <!-- card .// -->
        <p class="text-center mt-4">Have an account? <a href="{% url 'login' %}">Log In</a></p>
        <br><br>
    <!-- ============================ COMPONENT REGISTER  END.// ================================= -->
    
    
 </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    
{% endblock %}
    