{% extends 'base2.html' %}
{% load static %}
{% block content %}
    

    
<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Your cart</h1></div>
          </div>
    </div>
    <!--End Page Title-->
    
    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                <form action="#" method="post" class="cart style2">
                    <table>
                        <thead class="cart__row cart__header">
                            <tr>
                                <th colspan="2" class="text-center">Product</th>
                                <th class="text-center">Price</th>
                                <th class="text-center">Quantity</th>
                                <th class="text-right">Total</th>
                                <th class="action">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_items %}
                            <tr class="cart__row border-bottom line1 cart-flex border-top">
                                <td class="cart__image-wrapper cart-flex-item">
                                    <a href="#"><img class="cart__image" src="{{ item.product.images.url }}" alt="{{ item.product.title }}"></a>
                                </td>
                                <td class="cart__meta small--text-left cart-flex-item">
                                    <div class="list-view-item__title">
                                        <a href="{{ item.product.get_url }}">{{ item.product.title }}</a>
                                    </div>
                                    <div class="cart__meta-text">
                                        Color: {{ item.color }}<br>
                                        Size: {{ item.size }}<br>
                                    </div>
                                </td>
                                <td class="cart__price-wrapper cart-flex-item">
                                    <span class="money">${{ item.product.discount_amount }}</span>
                                </td>
                                <td class="cart__update-wrapper cart-flex-item text-right">
                                    <div class="cart__qty text-center">
                                        <div class="qtyField">
                                            <!-- Form for Decreasing Quantity -->
                                            <form method="POST" action="{% url 'addToCart' item.product.id %}" style="display:inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="color" value="{{ item.color }}">
                                                <input type="hidden" name="size" value="{{ item.size }}">
                                                <button type="submit" class="qtyBtn plus" title="Increase Quantity">
                                                    <i class="icon icon-minus"></i>
                                                </button>
                                            </form>
                                            <!-- Quantity Input -->
                                            <input class="cart__qty-input qty" type="text" name="quantity" id="qty_{{ item.id }}" value="{{ item.quantity }}" readonly>
                                        
                                            <!-- Form for Increasing Quantity -->
                                            <form method="POST" action="{% url 'addToCart' item.product.id %}" style="display:inline;">
                                                {% csrf_token %}
                                                <input type="hidden" name="color" value="{{ item.color }}">
                                                <input type="hidden" name="size" value="{{ item.size }}">
                                                <button type="submit" class="qtyBtn minus" title="Increase Quantity">
                                                    <i class="icon icon-plus"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td class="text-right small--hide cart-price">
                                    <div><span class="money">${{ item.sub_total }}</span></div>
                                </td>
                                <td class="text-center small--hide">
                                    <form method="POST" action="{% url 'remove_cart' item.product.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="color" value="{{ item.color }}">
                                        <input type="hidden" name="size" value="{{ item.size }}">
                                        <button type="submit" onclick="return confirm('Are you sure you want to remove this item from your cart?');" class="btn btn--secondary cart__remove" title="Remove item">
                                            <i class="icon icon anm anm-times-l"></i>
                                        </button>
                                    </form>
                                </td>
                                
                            </tr>
                            {% empty %}
                            <tr>
                                <td colspan="6" class="text-center">Your cart is empty.</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3" class="text-left">
                                <a href="{% url 'store' %}" class="btn--link cart-continue">
                                        <i class="icon icon-arrow-circle-left"></i> Continue shopping
                                    </a>
                                </td>
                               
                            </tr>
                        </tfoot>
                    </table>
                <div class="currencymsg">We processes all orders in USD. While the content of your cart is currently displayed in USD, the checkout will use USD at the most current exchange rate.</div>
                
                
                </form>                   
               </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 cart__footer">
                
                <div class="solid-border">
                    <div class="row">
                        <span class="col-12 col-sm-6 cart__subtotal-title"><strong>TAX</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
                            <span class="money">{{ tax }}</span>
                        </span>
                    </div>
                    <div class="row">
                        <span class="col-12 col-sm-6 cart__subtotal-title"><strong>Grand Total</strong></span>
                        <span class="col-12 col-sm-6 cart__subtotal-title cart__subtotal text-right">
                            <span class="money">${{ grand_total }}</span>
                        </span>
                    </div>
                    <div class="cart__shipping">Shipping &amp; taxes calculated at checkout</div>
                    <p class="cart_tearm">
                        <label>
                            <input type="checkbox" name="tearm" id="cartTearm" class="checkbox" value="tearm" required
                            I agree with the terms and conditions
                        </label>
                    </p>
                    <div class="text-align-center"> <!-- Center the button -->
                        <a href="{% url 'checkout' %}" class="btn btn-outline-primary d-flex btn-block">Checkout</a>
                    </div>
                    <div class="paymnet-img">
                        <img src="{% static 'assets/images/payment-img.jpg' %}" alt="Payment">
                    </div>
            </div>
        </div>
    </div>
    
</div>
<!--End Body Content-->
{% endblock %}