{% extends 'base2.html' %}
{% load static %}
{% block content %}
    

    
<!--Body Content-->
<div id="page-content">
    <!--Page Title-->
    <div class="page section-header text-center">
        <div class="page-title">
            <div class="wrapper"><h1 class="page-width">Your cart</h1></div>
          </div>
    </div>
    <!--End Page Title-->

    <div class="container">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 main-col">
                {% if messages %}
                <div id="message" class="alert alert-success text-center">
                    {% for message in messages %}
                    <div class="alert-message">{{ message }}</div>
                    {% endfor %}
                </div>
                <script>
                    window.onload = function() {
                        setTimeout(function() {
                            var messageDiv = document.getElementById('message');
                            if (messageDiv) {
                                messageDiv.style.display = 'none'; // Hide the message after 4 seconds
                            }
                        }, 4000); // 4000 milliseconds = 4 seconds
                    };
                </script>
                {% endif %}
            </div>
        </div>
     <!-- Cart Start -->
     <div class="container-fluid pt-1">
        <div class="row px-xl-5">
            <div class="col-lg-8 table-responsive mb-5">
                <table class="table table-bordered text-center mb-0">
                    <thead class="bg-secondary text-dark">
                        <tr>
                            <th>Products</th>
                            <th>Price</th>
                            <th>Quantity</th>
                        </tr>
                    </thead>
                    <tbody class="align-middle">
                        {% for item in cart_items %}
                        <tr>
                            <td class="align-middle"><img src="{{ item.product.images.url }}" alt="" style="width: 50px;"> {{ item.product.title|truncatechars:30 }}
                            <br><br>
                            <h6><p style="color: aqua; background: black; padding-left:10px">
                            Color: {{ item.color }}<br>
                            Size: {{ item.size }}<br>
                            </p></h6>
                        </td>
                            
                            <td class="align-middle">${{ item.product.discount_amount }}</td>
                            <td class="cart__update-wrapper cart-flex-item text-right">
                                <div class="cart__qty text-center">
                                    <div class="qtyField">
                                       <!-- Form for Decreasing Quantity -->
                                        <form method="POST" action="{% url 'minus_cart' item.product.id item.color item.size %}" style="display:inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="color" value="{{ item.color }}">
                                            <input type="hidden" name="size" value="{{ item.size }}">
                                            <button type="submit" class="qtyBtn minus" title="Decrease Quantity" onclick="return confirm('Decrease quantity?');">
                                                <i class="icon icon-minus"></i>
                                            </button>
                                        </form>
                                                                                    
                                        <!-- Quantity Input -->
                                        <input class="cart__qty-input qty" type="text" name="quantity" id="qty_{{ item.id }}" value="{{ item.quantity }}" readonly>
                                        
                                        <!-- Form for Increasing Quantity -->
                                        <form method="POST" action="{% url 'addToCart' item.product.id %}" style="display:inline;">
                                            {% csrf_token %}
                                            <input type="hidden" name="color" value="{{ item.color }}">
                                            <input type="hidden" name="size" value="{{ item.size }}">
                                            <button type="submit" class="qtyBtn plus" title="Increase Quantity">
                                                <i class="icon icon-plus"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">Your cart is empty.</td>
                        </tr>
                        {% endfor %}
                        
                    </tbody>
                </table>
            </div>
            <div class="col-lg-4">
                {% if user.is_authenticated and cart.cart_id %}
                <form class="mb-5" method="POST" action="{% url 'apply_coupon' %}">
                    {% csrf_token %}
                    <div class="input-group">                
                        <input type="text" name="coupon_code" class="form-control p-4" placeholder="Coupon Code">
                        <div class="input-group-append">
                            <button type="submit" class="btn btn-primary">Apply Coupon</button>
                        </div>                     
                    </div>
                </form>
                {% else %}
                    <div class="alert alert-warning text-center" role="alert">
                        <h4 class="alert-heading">Coupon Application</h4>
                        <p>To apply a coupon code, please log in to your account. If you don't have an account yet, you can register for one.</p>
                        <hr>
                        <p class="mb-0">
                            <a href="{% url 'login' %}" class="btn btn-secondary">Log In</a>
                            <a href="{% url 'register' %}" class="btn btn-outline-secondary">Register</a>
                        </p>
                    </div>
                {% endif %}
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
                    </div>
                    <div class="card-body">
                        <div class="d-flex justify-content-between mb-3 pt-1">
                            <h6 class="font-weight-medium">Subtotal</h6>
                            <h6 class="font-weight-medium">${{ total }}</h6>
                        </div>
                        <div class="d-flex justify-content-between">
                            <h6 class="font-weight-medium">Tax</h6>
                            <h6 class="font-weight-medium">${{ tax|floatformat:0 }}</h6>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Grand Total</h5>
                            <h5 class="font-weight-bold">${{ grand_total|floatformat:0 }}</h5>
                        </div>
                        <!-- <button type="button" class="btn btn-block btn-primary my-3 py-3" onclick="window.location.href='{% url 'checkout' %}'">
                            Proceed To Checkout
                        </button> -->
                        <a href="{% url 'checkout' %}" class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart End -->
</div>
<!--End Body Content-->
{% endblock %}